.aboutContainer{
  display: relative;
  color: black;
  font-size: larger;
  width: 100%;
  height: auto;
}

.infoContainer{
  display: inline-grid;
  grid-template-columns: .441466073fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
  max-width: 90vw;
  padding-bottom: 50px;
}

.bio{
  max-width: 50vw;
}

.photoOfMe{
  padding: 2vmin;
  padding-bottom: 5vmax;
  background-color: white;
  border-radius: 5px;
  min-width: 13vmin;
  max-width: 13vmax;
  box-shadow: 2px 3px 5px  #3f4b3b;
}