.aboutContainer{
  display: relative;
  color: black;
  font-size: larger;
  /* text-shadow: 1px 1px 3px var(--dark-green); */
  border: 1px solid black;
  width: 100%;
}

.infoContainer{
  display: inline-grid;
  grid-template-columns: .441466073fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
  border: 1px solid red;
  max-height: 50vh;
  max-width: 90vw;
}

.bio{
  max-width: 35vmax;
  border: 1px solid black;
  bottom: 0px;
}

.photoOfMe{
  padding: 2vmin;
  padding-bottom: 5vmax;
  background-color: white;
  border-radius: 5px;
  min-width: 13vmin;
  max-width: 13vmax;
  box-shadow: 2px 3px 5px  #3f4b3b;
}