:root{
  --light-green: #caffd0;
  --dark-green: #3a7d44;
  --light-purple: #d6c3c9;
  --dark-purple: #55286f;
  --gray: #3f4b3b;
}

.App-footer{
  background-color: var(--dark-green);
  width: 100%;
  min-height: 9vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 10px -1px var(--gray);
}

li{
  list-style: none;
}

.App-footer img{
  max-width: 2vw;
  margin-right: 15px;
}