.resumeContainer{
  display: contents;
  justify-self:normal;
  max-width: 70vw;
}

.heading{
  grid-column-start: 1/-1;
  justify-self: center;
}

.list{
  margin-top: 0;
  display: inline-grid;
  grid-template-columns: 10vw 10vw 10vw 10vw;
  grid-auto-rows: auto;
  row-gap: 1.7vh;
  justify-items: center;
  align-items: center;
}

.mern{
  grid-column: 1/-1;
}

.resumeLink{
  color:var(--dark-purple);
}

.resumeLink:visited{
  color:var(--dark-purple);
}

.iframeContainer {
  position: relative;
  overflow: hidden;
  width: 78%;
  padding-top: 35%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}