:root{
  --light-green: #caffd0;
  --dark-green: #3a7d44;
  --light-purple: #d6c3c9;
  --dark-purple: #55286f;
  --gray: #3f4b3b;
}

body{
  background-color: var(--light-purple);
}

.App {
  text-align: center;
}