:root{
  --light-green: #caffd0;
  --dark-green: #3a7d44;
  --light-purple: #d6c3c9;
  --dark-purple: #55286f;
  --gray: #3f4b3b;
}

body{
  background-color: var(--light-purple);
}

.App {
  text-align: center;
}

.aboutContainer{
  display: grid;
  color: black;
  text-shadow: 1px 1px 3px var(--dark-green);
  margin: 0px 40px 0px 40px;
}

.infoContainer{
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.bio{
  max-width: 30vw;
}

.photoOfMe{
  padding: 15px;
  background-color: white;
  padding-bottom: 50px;
  border-radius: 5px;
  min-width: 20vw;
  box-shadow: 2px 3px 5px  #3f4b3b;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */



/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
